Dir[File.dirname(__FILE__) + '/factories/*.rb'].each {|file| require_relative file }
module <%= domain.name %>
  module Domain
    module <%= aggregate.name %>
      class <%= domain_object.name %>
        module Factories
        end
      end
    end
  end
  end