Dir[File.dirname(__FILE__) + '/subscribers/*.rb'].each { |file| require_relative file }
module <%= @domain.name %>
  module Domain
    module <%= aggregate.name %>
      class <%= domain_object.name %>
        module Subscribers
        end
      end
    end
  end
end
